* {
     margin: 0;
     padding: 0;
     font-family: 'IBM Plex Sans', monospace;
     
}

header {
   height: 100px;
   background-color: white;
   padding: 0 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#logo {
     margin: 10px 10px;
     width: 35px;
     height: 50px;
}

.menu a{
     color: black;
     text-transform: uppercase;
     text-decoration: none;
     padding: 0 10px;
     transition: 0.4s;
}

.mostrar-menu,.esconder-menu{
     font-size: 30px;
     cursor: pointer;
     display: none; /*quita todos los checkbox */
     transition: 0.4s;

}

.mostrar-menu{
     order:1;  /*le da el orden primero a mostrar menu*/

}

.menu a:hover, .mostrar-menu:hover, .esconder-menu:hover{
     color: rgb(0, 243, 187);
     text-decoration: line-through;
}

#check{
     display: none; /*quita todos los checkbox */
}

/*SECTION PRINCIPAL*/

#principal{
     margin: 95px 72px;
     width: 782px;
     height: 36vh;
     padding: 0 50px;
     font-size: 41px;
     font-weight: normal;
     font-family: 'IBM Plex Sans', sans-serif;
     display: flex;
     align-items: center;
     background-color: white;
}

.container-principal {
     position: relative;
     color: #060A24 ; 
     display: flex;
     flex-direction: column;
     align-items: unset;
     width: 741px;
  }

  .container-principal h1{
     font-weight: 400;
     font-size: 1.5em;
  }

  .container-principal h1::after {
     content: ".";
     color:#0000EC ;
  }

  

.container-principal p {
     width: 94%;
     margin: 10px 2px;
     font-family: "IBM Plex Mono", monospace;
     font-size: 18px;
     font-weight: 100;
     margin-bottom: 40px;
     content: icon;
     
}

.container-principal p::before {
     content: "Un podcast que explora el mundo de la programación.";
}


#boton {
  cursor: pointer;
  height: 56px;
  width: 226px;
  text-decoration: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background-color: rgb(0, 243, 187);

}

#boton:hover{
     background: linear-gradient(#0000FE , #00F0B8);
     color: white;
}


/*SECTION ESPISODIOS*/

svg {
     margin: 0px 0px;
     width: 100%;
     height: 10vw; }
     
     
h2{
   color: white;
   font-family: "IBM Plex Mono", monospace;
   margin: 50px 50px;
   font-size: 2em;  
}     

#episodios {
   width: 100vw;
   height: 500%;
   margin: -124px 0px;
   background-color: #0000EC;

} 

.container-episodios{
     height: 116vh;
     display: grid;
     grid-template-columns: repeat(2, 1fr); /*dos columnas y un mismo ancho*/
     grid-auto-rows: 303px;
     padding: 44px;
     margin: 0.4px 10px;
     
}

iframe {
     width: 80%;
     height: 87%;
}

.section-content {
     position: relative;
     height: 0;
     overflow: hidden;
   }
   
   .section__bg {
     position: absolute;
     margin: 0px 0px;
     width: 100vw;
     height: 18vw;
  
     background-image: linear-gradient(#fffcf8, #ffffff);
     transform: skewY(-6deg);
     transform-origin: top left;
   }
 


.mujeres{
     position: relative;
     color: white;
}

/*SECTION PHONE*/

.phone {
     width: 100%;
     height: 1vh;
     display: flex;
     justify-content: space-around;
   
}

.img-phone {
     position: relative;
     margin: -95px 40px;
     padding: 0px;
     
     
}

#dedonde {
     position: relative;
     width: 56%;
     height: 58%;
     margin: 216px 2px;
}

h3 {
 font-size: 3rem;
 font-family: "IBM Plex Mono", monospace;

}

#section-text {
     text-align: left;
     margin: 10px 0px;
     padding: 5%;
     font-size: 20px;
     font-family: "IBM Plex Mono", monospace;
}


/* RESPONSIVE */

@media(max-width: 768px) {
     /* HEADER */
     .mostrar-menu, .esconder-menu {
          display: block;
     }
    


     .menu{
          position: fixed;
          width: 100%;
          height: 10%;
          background: #0000EC;
          right: -100%; 
          top: 0;
          text-align: center;
          padding: 100px 0px;
          z-index: 100;
          transition: 0.8s;
          
          
     }

     .menu a{
          width: 100%;
          height: 40%;
          color: #fafafa;
          display: flex;
          padding: 5px;
          font-size: 1.2em;
     
         
     }

     .esconder-menu{
          position: absolute;
          top: 10px;
          right: 20px;
     }

     #check:checked ~ .menu{
          right: 0;
     }

     .menu a:hover{
          text-decoration: none;
           background-color: rgb(0, 243, 187);
     }

     .mostrar-menu:hover, .esconder-menu:hover{
     text-decoration: none;
    

     }

}
